* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(245, 245, 245);


}

.container {
    width: 100%;
    height: 60px;
    background-color: white;
    position: fixed;


}

.navbar {
    display: flex;
    width: 1350px;
    height: 60px;
    margin: auto;


}

.navbar ul {
    display: flex;
    width: 1350px;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;

}

.navbar ul li img {
    width: 155px;
    height: 28px;

}

.navbar ul .iki {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.btn1 {
    width: 90px;
    height: 32px;
    border-radius: 8px;
    border: 1px solid;
    background-color: white;
}

.btn2 {
    width: 85px;
    height: 32px;
    border-radius: 8px;
    border: none;
    background-color: rgb(228, 57, 88);
    color: white;
}

.navbar ul div .tr input {
    width: 80px;
    height: 32px;
    border-radius: 8px;
    border: 1px solid;
    padding: 5px;
}


.navbar ul div li img {
    width: 25px;
    height: 25px;
    margin-left: 20px;
    margin-right: 30px;

}

.container2 {
    width: 100%;
    height: 620px;
    justify-content: end;
    display: flex;
    background-image: url("refresh-hero-home-tr.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;


}

.row {
    display: flex;
    width: 1550px;
    height: 500px;
    justify-content: start;
    margin: auto;
}


.navyazi {
    width: 800px;
    height: 100px;
    margin: 100px;
    margin-top: 150px;
    font-size: 40px;
    font-family: sans-serif;
    ;
}


.input {
    display: flex;
    width: 750px;
    height: 80px;
    margin-top: -70px;
    margin-left: 100px;
    font-size: 40px;
    background-color: white;
    border-radius: 18px;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 1px 2px 3px rgb(227, 224, 224);
}

.input input {

    width: 620px;
    height: 50px;
    border-radius: 9px;
    border: 1px solid rgb(215, 213, 213);
    background-color: white;
    padding: 20px;
    font-size: 15px;
    margin-left: 0px;
    align-items: flex-start;
}

.btnkesfet {
    display: flex;
    width: 70px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: rgb(228, 57, 88);
    color: white;
    margin-left: 20px;
}

.btnkesfet>h1 {
    font-size: 15px;
    margin: 13px;
    align-items: center;
    justify-content: center;
}

.container3 {
    width: 100%;
    height: 200px;
    background-color: white;
}

.container3 .row {
    display: flex;
    width: 1550px;
    height: 150px;
    justify-content: start;
    margin: auto;
    background-color: white;
}

.container3 .row h1 {
    font-size: 30px;
    margin: 100px;
    margin-top: 75px;

}

.yemek {
    display: flex;
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
    background-image: url("home-vendor-tr.webp");
    background-size: cover;
    background-position: center;

}

.row2 {
    display: flex;
    width: 1550px;
    height: 150px;
    justify-content: start;
    margin: auto;
}


.card {
    justify-content: center;
    width: 650px;
    height: 450px;
    background-color: white;
    border-radius: 15px;
    margin: 100px;
    padding: 25px;
    margin-top: 70px;
    gap: 25px;
    box-shadow: inset;

}

.card h1 {
    font-size: 25px;
    margin-bottom: 25px;
}

.card p {
    font-size: 17px;
}

.btnbasla {
    width: 100px;
    height: 40px;
    background-color: rgb(228, 57, 88);
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 15px;
    margin-top: 60px;
}

.bosluk {
    width: 100%;
    height: 350px;

}

.container4 {
    display: block;
    width: 1300px;
    height: 2000px;
    justify-content: center;
    margin: auto;
    background-color: beige;

}

.row3 {

    width: 1300px;
    height: 680px;
   
}

.row3 h1 {
    width: 1350px;
    height: 70px;

}

.images {
    width: 800px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(4, 330px);
    grid-auto-rows: 280px;
   
   
}
.images h1{
    display: block;
    width: 100px;
    height: 50px;
    font-size: 20px;
    background-color: white;
    border-radius: 15px;
    text-align: center;
    margin-top: -50px;
    color: white;
  
}

.img1 img {
    display: flex;
    width: 300px;
    height: 250px;
    border-radius: 15px;
    cursor: pointer;
}

.img2 img {
    display: flex;
    width: 300px;
    height: 250px;
    border-radius: 15px;
    cursor: pointer;
}

.img3 img {
    display: flex;
    width: 300px;
    height: 250px;
    border-radius: 15px;
    cursor: pointer;
}

.img4 img {
    display: flex;
    width: 300px;
    height: 250px;
    border-radius: 15px;
    cursor: pointer;
}

.img5 img {
    display: flex;
    width: 300px;
    height: 250px;
    border-radius: 15px;
    cursor: pointer;

}
.kırmızı{
    display: inline-flex;
    width: 1300px;
    height: 400px;
    margin-top: 30px;
    background-color:rgb(240, 46, 82) ;
    border-radius: 15px;
    align-items: center;
}
.kırmızıdiv{
    width: 670px;
    margin-top: -100px;
}
.kırmızıdiv h1{
    font-size: 25px;
    padding: 30px;

    color: white;

}
.kirmizidiv1{
    display: flex;
    width: 500px;
}
.kırmızıdiv .qr{
    width: 100px;
    height:100px;
   border: 1px solid white;
   padding: 10px;
   border-radius: 5px;
   margin: 30px;
   margin-top: -5px;
}
.kırmızıdiv p{
    width: 350px;
    height: 120px;
    line-height: 25px;
    color: white;

}
.tel-img img{
    width: 700px;
    margin-bottom: 70px;
}
